@@charset "UTF-8";
@@font-face {

}
body{
  font-family: fantasy;
  color:#000000;
  background-color:#a9a9a9;
}
.a{
  color:#131313;
}
  .a:active{
    color:#1d1d1d;
  }
  .a:hover{
    color:#8e8e8e;
  }
a{
  color:#131313;
}
  a:active{
    color:#1d1d1d;
  }
  a:hover{
    color:#8e8e8e;
  }
.Header{
  font-family:cursive;
  background-color:#000000;
  position: relative;
  visibility: inherit;
  height: auto;
  width: 910px;
  font-size: 44px;
  font-weight: bolder;
  margin: 0px auto;
  color:#f6f8ff;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.SubHeader{
  font-family:cursive;
  background: darkgrey;
  position: relative;
  height: auto;
  width: 910px;
  margin: 0px auto;
  color:#1d1d1d;
}
.Content{
  font-family: cursive;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  z-index: 0;
  color: #121212;
  word-spacing: normal;
  border: thin none;
  position: relative;
  height: auto;
  width: inherit;
  text-align: center;
  margin: 20px auto 0px auto;
}
.Footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #000000;
  color:#f6f8ff;
  text-align: center;
}
.Sidebar{
  float: right;
  position: fixed;
  z-index:100;
  left:0px;
  width:105px;
  height:auto;
}
/* .InSidebar{
  float: left;
  position: fixed;
  z-index:900;
  left:0px;
  width:105px;
  height:auto;
} */
